<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Inicio</title>
    <link href="estilo.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <h3>Nombre de la materia:</h3>
    <p>Programación Web</p>
    <h3>Semestre:</h3>
    <p>Séptimo</p>
    <h3>Periodo:</h3>
    <p>AGODIC2021-07</p>
    <h3>Nombre del alumno</h3>
    <p>Julio césar salazar gallegos</p>
    <footer>
        <h2>Todos los derechos reservados por el ING Julio César Salazar.</h2>
    </footer>
</body>
</html>