<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Mi perfil</title>
    <link href="~/estilo.css" rel="stylesheet" type="text/css">
</head>
<body>
    <img src="~/img/yo.jpeg" />
  
        <h4>Nombre del usuario:</h4>
        <p>Salazar gallegos julio césar</p>
        <h4>Edad:</h4>
        <p>21 años</p>
        <h4>Sexo</h4>
        <p>M</p>
        <h4>Ocupación:</h4>
        <p>Estudiante</p>
        <h4>Estado civil</h4>
        <p>Soltero</p>
  
    <footer>
        <h2>Todos los derechos reservados por el ING Julio César Salazar.</h2>
    </footer>
</body>
</html>
